/* Profile */

.contant_header{

    background: url('https://static.tildacdn.com/tild6234-3134-4339-a637-623532346238/Untitled_30.png') center no-repeat;
    background-size: cover;
  
    height: 200px;
}
  
.profile_contant{
    position: relative;
  
    padding: 50px 230px;
  }
  
  .ava{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }
  
  .ava img{
    border-radius: 50%;
  
    width: 150px;
    height: 150px;
  }

/* ============================================*/
textarea {
	/* = Убираем скролл */
	overflow: auto;

	/* = Убираем увеличение */
	resize: none;
	width: 300px;
	height: 50px;

	/* = Добавим фон, рамку, отступ*/
	background: #f6f6f6;
	border: 1px solid #cecece;
	border-radius: 8px 0 0 0;
	padding: 8px 0 8px 10px;
}

.submit {
	cursor: pointer;
	border: 1px solid #cecece;
	background: #f6f6f6;
	box-shadow: inset 0px 20px 20px #ffffff;
	border-radius: 8px;
	padding: 8px 14px;
	width: 120px;
}
.submit:hover {
	box-shadow: inset 0px -20px 20px #ffffff;
}
.submit:active {
	margin-top: 1px;
	margin-bottom: -1px;
	zoom: 1;
}
.submit:focus
{
	outline:none;
} 