/* Wrapper */
.app-wrapper{
  display: grid; /**/

  grid-template-areas: 
  "header header"
  "nav contant";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

/* Header */
.header{
  grid-area: header;

  background-color: #FF9400;

  position: relative;
}


.header img{
  height: 100%;

  position: absolute;
  left: 8%;
}
