/* Wrapper */
.app-wrapper{ /* почему не применился этот стиль?*/
  display: grid; /**/

  grid-template-areas: 
  "header header "
  "nav contant";

  grid-template-rows: .1fr 1fr;
  grid-template-columns: 0.5fr 3fr;
  grid-gap: 5px;
}

.container{
  max-width: 1000px;
  width: 100%;

  margin: 0 auto;
}
