/* Nav */
.nav{
    grid-area: nav;
  
    background-color: #d1d1dd;
  
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;

    position: relative;

    max-height: 200px;
  }

.nav a{
    text-decoration: none;
    color: #7c6c0f;
  
    transition: color .2s;
}

.nav a.activeLink{
  color: #0058ff;;
}

.nav a:hover{
    color: #FF9400;
}

/* Container for link */
.containerForLink{
  position: relative;
}

.containerForLink a:before{
  content: "";
  position: absolute;

  width: 3px;
  height: 90%;
  background: #FF9400;

  top: 0;
  left: 0;
  z-index: 1;

  opacity: 0;
  transition: .5s ;
}

.containerForLink a:hover:before{
opacity: 1;
}